* {
  box-sizing: border-box;  /* Box-sizing is used across all elements to include the padding and border in the total size. */
}

body {  /* The website's background colour and standard font style are defined here. */
font-family:  Helvetica, avenir, verdana, arial, sans-serif;
background-color: #662211;
color: white;
}

.all {  /* This class allows all the sections to stack and fit the width of the browser window. */
width: 100%;
position: relative;
}

/* --- NAVIGATION BAR SETTINGS ---- */

.nav_bar { /* Style and function properties for the top navigation bar are controlled here. */
background-color: #662211; /* Colour combinations have been chosen to provide a suitable contrast ratio for accessibility. */
overflow: hidden;
position: fixed;
top: 0;
width: 100%;
z-index: 2; /* Z index is used to allow the sections to scroll beneath the nav bar. */
}

.nav_bar a { /* Links in the top navigation bar are controlled here. */
float: right;
cursor: pointer;
font-size: 14px;
text-decoration: none;
margin: 0.5%;
}

.nav_bar a:hover { /* Behaviour when hovering over the links in the top navigation bar are controlled here. */
cursor: pointer;
font-weight:  bold;
}

.nav_bar a.split { /* The split class is used to separate the page links, which float to the right, from the "book a meeting" link, which sits to the left of the top navigation bar. */
float: left;
cursor: pointer;
text-decoration: none;
margin: 0.1%;
font-size:14px;
}

.nav_bar .icon {
  display: none;
}

/* --- HOME SECTION SETTINGS ---- */

.home { /* The home section behaviour and background is controlled here. */
background-image: url('../assets/home_pic.webp');
background-size: 45% 55%;
background-repeat: no-repeat;
background-position: 90% 95%;
position: absolute;
width: 100%;
text-align: left;
z-index: 1;
}

.home_column { /* This class controls the performance of the left home column. */
float: left;
text-align:center;
width: 70%;
}

.home_column.side { /* This class controls the performance of the right home column. */
text-align:center;
width: 30%;
}

.home_r:after {
content: "";
display: table;
clear: both;
}

.home_column_style { /* This class styles the home columns. */
position: relative;
margin: 5%;
color: white;
text-align:left;
}

.graph { /* This controls the location of the graph image in the home section. */
position: absolute;
left: 55%;
top: 80%;
max-width: 28%;
z-index: 2;
}

/* --- SERVICES SECTION SETTINGS ---- */

.services { /* The services section is controlled here. */
position: absolute;
width: 100%;
z-index: 1;
}

.services_column {
float: left;
text-align:center;
width: 33.33%;
}

.services_column.side {
text-align:center;
width: 33.33%;
}

.services_column.middle {
width: 33.33%;
text-align: center;
}

.services_r:after {
content: "";
display: table;
clear: both;
}

.services_column_style {
background-color: #f1d6a3;
color: #662211;
margin: 5%;
padding-top: 8%;
padding-bottom: 8%;
padding-left: 5%;
padding-right: 5%;
font-weight:  bold;
}

.services_headings_style {
font-family:  Helvetica, avenir, verdana, arial, sans-serif;
font-weight: bold;
font-size: 24px;
}

/* --- TEAM SECTION SETTINGS ---- */

.team {
background-image: url('../assets/office.jpeg');
background-size: 100% 100%;
background-repeat: no-repeat;
background-position: 100% 100%;
position: absolute;
width: 100%;
z-index: 1;
}

.team_column {
float: left;
width: 20%;
}

.team_column.side {
width: 20%;
}

.team_column.middle {
width: 20%;
}

.team_r:after {
content: "";
display: table;
clear: both;
}

.team_column_style {
background-color: #f1d6a3;
color: #662211;
margin: 5%;
border-top:2px solid #f1d6a3;
border-bottom:2px solid #f1d6a3;
text-align:center;
}

.animation_container {
background-color: white;
margin-top: 0%;
margin-left: 15%;
margin-right: 15%;
margin-bottom: 12%;
}

.advanced {
background-color: #662211;
border-radius: 0px 5px 5px 0px;
color: white;
text-align: center;
animation-name: adv;
animation-duration: 3s;
animation-iteration-count: infinite;
animation-fill-mode: forwards;
}

@keyframes adv { /* Taken from W3 Schools, this controls the animation in the team section. */
0%   {background-color:#662211; left:0px; width:1%; top:0px;}
100%  {background-color:#662211; left:0px; width:99%; top:0px;}
}

/* --- ABOUT SECTION SETTINGS ---- */

.about {
position: absolute;
width: 100%;
z-index: 1;
}

.about_column {
float: left;
width: 50%;
}

.about_column.side {
width: 50%;
}

.about_column.middle {
width: 0%;
}

.about_r:after {
content: "";
display: table;
clear: both;
}

.about_history_style {
background-image: url('../assets/timeline.webp');
background-size: 100% 100%;
background-repeat: no-repeat;
background-position: 100% 100%;
border-top:2px solid #f1d6a3;
border-bottom:12px solid #f1d6a3;
color: #662211;
margin: 5%;
text-align: center;
}

.about_history_style img {
max-width:50%;
}

.about_values_style {
background-color: #f1d6a3;
border-top:50px solid #f1d6a3;
border-bottom:50px solid #f1d6a3;
color: #662211;
margin: 5%;
text-align: center;
padding-bottom:10px;
}

/* --- CONTACT SECTION SETTINGS ---- */

.contact {
position: absolute;
width: 100%;
z-index: 1;
}

.contact_r-container {
display: table;
width: 100%;
padding: 0px;
}

.contact_map {
color: #ff6d1e;
background: white;
text-align:center;
display: table-cell;
border-top: 1px solid #f1d6a3;
border-bottom: 1px solid #f1d6a3;
width:45%;
}

.contact_middle {
background: #f1d6a3;
text-align:center;
color: #662211;
vertical-align:middle;
display: table-cell;
border-top: 1px solid #f1d6a3;
border-bottom: 1px solid #f1d6a3;
width:22.5%;
padding-top:5%;
}

.contact_right {
background: #f1d6a3;
color: #662211;
text-align:center;
vertical-align:middle;
display: table-cell;
border-top: 1px solid #f1d6a3;
border-bottom: 1px solid #f1d6a3;
width:22.5%;
}

.contact_text_style {
font-family:  Helvetica, avenir, verdana, arial, sans-serif;
font-size: 14px;
}

address { /* Aligns and styles the address attributes. */
padding-bottom: 5%;
font-family:  Helvetica, avenir, verdana, arial, sans-serif;
text-align: center;
font-weight: bold;
font-size: 14px;
}

/* --- FOOTER SETTINGS ---- */

.base {
position: absolute;
width: 100%;
background-color: #662211;
z-index: 1;
color: white;
}

.base_style {
background-color: #662211;
margin: 5%;
}

.base_column {
float: left;
text-align:left;
width: 33.33%;
padding: 6%;
}

.base_column.side {
text-align:center;
width: 33.33%;
text-align:left;
}

.base_column.middle {
color: black;
width: 33.33%;
text-align: center;
padding: 0%;
}

.base_row:after {
content: "";
display: table;
clear: both;
}

/* --- CORPORATE PAGES SETTINGS ---- */

.corporate_pages {
position: absolute;
width: 100%;
text-align: left;
z-index: 1;
}

.corporate_pages_column {
float: left;
text-align:center;
width: 30%;
}

.corporate_pages_column.middle {
background-size: 405px 405px;
background-repeat: no-repeat;
background-position: 50% 50%;
width: 70%;
text-align: center;
}

.corporate_pages_r:after {
content: "";
display: table;
clear: both;
}

.further_info_menu_style {
background-color: #f1d6a3;
color: #662211;
margin: 5%;
border-top:20px solid #662211;
padding: 3%;
}

.corporate_pages_style {
color: white;
margin: 5%;
font-weight:  bold;
padding: 5%;
text-align: left;
}

.corporate_pages_style p {
font-size: 14px;
}

.corporate_list { /* Changes the behaviour of lists in the further information sections. */
list-style-type: disc;
font-size: 12px;
padding-top: 0%;
margin-left: 10%;
padding-left: 0%;
padding-right: 0%;
padding-bottom: 0%;
}

.faq_answers_text{ /* Changes the behaviour of links in the further information sections. */
text-align: left;
font-family:  Helvetica, avenir, verdana, arial, sans-serif;
font-size: 14px;
text-decoration: none;
padding: 0%;
}

.faq_answer_link { /* Changes the behaviour of links in the faq section. */
padding: 0%;
}

.faq_answer_link:hover { /* Changes the behaviour of links in the further information sections when hovered over. */
text-decoration: underline;
padding: 0%;
}

.corporate_link { /* Changes the behaviour of lists in the further information sections. */
font-size: 12px;
padding: 0%;
}

time { /* Changes the colour of the time attribute. */
color: #FED2B3;
}

/* --- 404 PAGE SETTINGS ---- */

.ribbon_404 {
background-color: #662211;
text-align: center;
border:0px;
}

.ribbon_404 img {
max-width:40%;
padding-top:2%;
}

.body_404 {
background-color: #662211;
background-size: 405px 405px;
background-repeat: no-repeat;
background-position: 50% 50%;
width: 100%;
text-align: left;
}

.body_404 .heading {
font-size:28px;
color:#ffffff;
text-align: left;
padding-left:5%;
}

.body_404 p {
color: #ffffff;
font-size:16px;
text-align: left;
padding-left:5%;
}

.button {
background-color: #f1d6a3;
text-align: center;
color:#662211;
padding: 7px 10px;
border:0px;
border-radius:3px;
cursor:pointer;
margin-left:5%;
}

/* --- STANDARD ITEMS SETTINGS ---- */

img {
padding-left: 25px;
padding-right: 25px;
padding-bottom: 25px;
max-width:75%;
}

ul { /* This styles unordered lists. */
list-style-type: none;
text-align: left;
padding-top: 0%;
padding-left: 15%;
padding-right: 15%;
padding-bottom: 12%;
}

ol { /* This styles ordered lists. */
padding-bottom: 5%;
text-align: left;
font-size: 12px;
margin-left: 10%;
}

li { /* Helps to align the list items. */
padding-top: 9%;
}

.active { /* Changes the behaviour of active links in the further information sections. */
text-decoration: underline;
font-weight: bold;
}

a { /* This matches the style of links with the style of text. */
font-size: 14px;
cursor: pointer;
text-decoration: none;
padding: 7px;
}

a:hover { /* Behaviour when hovering on a link. */
cursor: pointer;
font-weight:  bold;
text-decoration: none;
}

hr { /* The hr tag separates each section on the main page and is used for linking to specific sections of the main page using an id identifier. */
opacity: 0;
}

p {
font-size: 12px;
}

.left_text { /* Aligns the team animation text to the left. */
text-align: left;
padding-left: 15%;
font-size:14px;
}

.center_text { /* A class to address alignment issues. */
text-align: center;
font-family:  Helvetica, avenir, verdana, arial, sans-serif;
padding:7%;
}

.history_details_faq_text { /* A class to address alignment issues. */
text-align: left;
font-family:  Helvetica, avenir, verdana, arial, sans-serif;
padding:7%;
}

/* --- MODAL WINDOW SETTINGS ---- */

/* The modal and its comments were taken from W3 Schools. */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fdc78a;
  margin: auto;
  padding: 0;
text-align: center;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #425eac;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 10px 16px;
  background-color: #662211;
  color: white;
text-align:center;
}

.modal-body {
padding: 2px 16px;
background-color: #425eac;
}

.modal-footer {
  padding: 10px 16px;
  background-color: #662211;
  color: white;
text-align:center;
}

.mod { /* Changes the behaviour of paragraphs in the modal header. */
font-family:  Helvetica, avenir, verdana, arial, sans-serif;
text-align: center;
font-weight: bold;
font-size: 18px;
}

/* Styling for the form elements follow below. */

input[type=text], select, textarea {
text-align: left;
  width: 70%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 6px;
  resize: vertical;
}

input[type=tel], select, textarea {
  width: 70%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 6px;
  resize: vertical;
}

input[type=date], select, textarea {
  width: 30%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 6px;
  resize: vertical;
color: #662211;
}

input[type=file], select, textarea {
  width: 60%;
  padding: 5px;
  border: 1px solid #425eac;
  border-radius: 3px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 6px;
  resize: vertical;
}

input[type=search], select, textarea {
text-align: left;
  width: 50%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 6px;
  resize: vertical;
}

input[type=time], select, textarea {
  width: 20%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 6px;
  resize: vertical;
color: #662211;
}

input[type=email], select, textarea {
  width: 70%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 6px;
  resize: vertical;
}

input[type=submit] {
  background-color: gold;
color: #662211;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
font-weight: bold;
}

input[type=submit]:hover {
 opacity: 0.7;
}

::placeholder {
color: #662211;
font-size:10px;
}

:-ms-input-placeholder {
color: #662211;
font-size:10px;
}

::-ms-input-placeholder {
color: #662211;
font-size:10px;
}

.container {
  border-radius: 0px;
  padding: 15px;
color: #662211;
font-size:12px;
}

.form_text { /* Styling for non-placeholder text on the form. */
margin-left: 15%;
text-align: left;
color: white;
font-size:12px;
}

/* --- ICON SETTINGS ---- */

.fa-twitter {
font-size:22px;
color: white;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 1px;
padding-right: 1px;
}

.fa-facebook {
font-size:22px;
color: white;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 1px;
padding-right: 1px;
}

.fa-linkedin {
font-size:22px;
color: white;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 1px;
padding-right: 1px;
}

.fa-youtube {
font-size:22px;
color: white;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 1px;
padding-right: 1px;
}


.fa-instagram {
font-size:22px;
color: white;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 1px;
padding-right: 1px;
}

.fa-pinterest {
font-size:22px;
color: white;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 1px;
padding-right: 1px;
}

.fa-twitter:hover {
font-size:28px;
cursor: pointer;
}

.fa-facebook:hover {
font-size:28px;
cursor: pointer;
}

.fa-linkedin:hover {
font-size:28px;
cursor: pointer;
}

.fa-youtube:hover {
font-size:28px;
cursor: pointer;
}

.fa-instagram:hover {
font-size:28px;
cursor: pointer;
}

.fa-pinterest:hover {
font-size:28px;
cursor: pointer;
}

.fa-home:hover {
font-size:14px;
cursor: pointer;
}

/* --- MEDIA QUERY SETTINGS ---- */

@media screen and (max-width: 600px) { /* This media query controls the behaviour of each section on smaller screens. */
.nav_bar a {
float: right;
cursor: pointer;
font-size: 14px;
text-decoration: none;
}
.nav_bar a.split {
float: left;
cursor: pointer;
font-size: 14px;
text-decoration: none;
}
.home_column, .home_column.side, .team_column, .team_column.side, .team_column.middle, .services_column, .services_column.side, .services_column.middle, .corporate_pages_column, .corporate_pages_column.middle, .about_column, .about_column.side, .about_column.middle, .base_column, .base_column.side, .base_column.middle {
width: 100%;
}
.contact_map, .contact_middle, .contact_right {
display: block;
width: 100%;
padding-bottom:5%;
}
img {
padding-left: 25px;
padding-right: 25px;
padding-bottom: 25px;
max-width:75%;
}
.home {
background-image: url('../assets/home_pic.webp');
background-position: 80% 99%;
background-size: 48% 35%;
}
.team_column, .team_column.side, .team_column.middle {
background-image: url('../assets/office_narrow.jpeg');
background-size: 100% 100%;
background-repeat: no-repeat;
background-position: 100% 100%;
}
.team {
background-image:none;
}
.graph { /* This controls the location of the graph image on smaller screens. */
position: absolute;
left: 63%;
top: 60%;
max-width: 35%;
z-index: 2;
}
.base_style {
text-align: center;
}
ul {
text-align: center;
}
.body404 {
background-size: 303px 303px;
}
input[type=file], select, textarea {
  width: 100%;
}
.close {
  font-size: 14px;
}
.modal-body {
padding: 2px 34px;
}
.mod { /* Changes the behaviour of paragraphs in the modal header. */
font-size: 16px;
}
}
@media screen and (max-width: 590px) { /* --- Responsive settings taken from W3 Schools ---- */
.nav_bar a:not(:first-child) {display: none;}
  .nav_bar a.icon {
    float: right;
    display: block;
  }
  .nav_bar.responsive {position: relative;}
  .nav_bar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav_bar.responsive a {
    float: none;
    display: block;
    text-align: right;
  }
  .nav_bar.responsive a.split {
    float: none;
    display: block;
    text-align: left;
  }
input[type=file], select, textarea {
  width: 100%;
}
input[type=date], select, textarea {
  width: 60%;
}
input[type=time], select, textarea {
  width: 60%;
}
}
@media screen and (max-width: 420px) {
.nav_bar span {
font-size: 14px;
margin:0;
}
.nav_bar a {
float: right;
cursor: pointer;
font-size: 14px;
text-decoration: none;
margin: 0;
}
input[type=file], select, textarea {
  width: 100%;
}
input[type=date], select, textarea {
  width: 60%;
}
input[type=time], select, textarea {
  width: 60%;
}
.modal-content {
  width: 100%;
}
.close {
  font-size: 14px;
}
.modal-body {
padding: 2px 14px;
}
.mod { /* Changes the behaviour of paragraphs in the modal header. */
font-size: 16px;
}
}
